src/main/mule/mulehelloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5037f33b-8dcd-4a27-999c-9c550adf227f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulehelloworldFlow" doc:id="36d6402b-0d52-4a79-af78-72682008875d" >
		<http:listener doc:name="Listener" doc:id="f05b1af7-16c3-48f4-af2e-3e704891163b" config-ref="HTTP_Listener_config" path="/hellomule" outputMimeType="application/json"/>
		<set-payload value="#[output application/json&#10;---&#10;payload.message]" doc:name="Set Payload" doc:id="f02db937-9219-4438-95b5-b29cac82b4ed" mimeType="application/json"/>
	</flow>
</mule>
